{% load static %}
<!DOCTYPE html>
<html>

<body>
	<h1>Temp controller</h1>
	<button onclick="startTimer()">start</button>
	<button onclick="stopTimer()">stop</button>
	<hr/>
	<img id="image" src="{% static 'image/image.jpg' %}" alt="">
	
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script type="text/javascript">
		const image = document.querySelector('#image')
		function startTimer(){
			timer=setInterval(()=>{
				// let today = new Date()
				// console.log(today.toLocaleTimeString())
				axios.get('/camera/camera/')
					.then(res=>{
						console.log(res)
					})
					.catch(err=>console.log(err))
			}
			,35000)
		}

		function stopTimer(){
			if(timer!=null){
				clearInterval(timer)
			}
		}
	</script>

</body>
</html>